<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ClaseServlet</servlet-name>
        <servlet-class>controller.ClaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClaseCreacion</servlet-name>
        <servlet-class>controller.ServletClaseCreacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlaCrendencialesServlet</servlet-name>
        <servlet-class>controller.ControlaCrendencialesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizaDatosServlet</servlet-name>
        <servlet-class>controller.VisualizaDatosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClaseServlet</servlet-name>
        <url-pattern>/ClaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClaseCreacion</servlet-name>
        <url-pattern>/ServletClaseCreacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlaCrendencialesServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizaDatosServlet</servlet-name>
        <url-pattern>/VisualizaDatosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/view.jsp</url-pattern>
            <include-prelude>/WEB-INF/header.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.sql.dataSource</param-name>
        <param-value>jdbc:mysql://localhost:3306/cochesmotos?autoReconnect=true,com.mysql.jdbc.Driver,root,root</param-value>
    </context-param>
</web-app>
